.video-title {
  font-size: 0.75rem;
  font-weight: bold;
}

.video-channel {
  font-size: 0.7rem;

  color: #686868;
}

.video-view-count {
  font-size: 0.65rem;

  color: #ababab;
}

.video-list-item:hover {
  cursor: pointer;

  background-color: #e2e2e2;
}

.video-list-item {
  height: 115px;
}

@media (min-width: 576px) {
  .video-title {
    font-size: 0.9rem;
  }

  .video-channel {
    font-size: 0.85rem;
  }

  .video-view-count {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .video-title {
    font-size: 0.8rem;
  }
}
